{% extends 'base.html' %}
{% block content %}


{% if therapists %}
<h1 class="grey-text text-lighten-2">MEET OUR STAFF</h1>
<div class="row">
    {% for t in therapists %}
    <div class="col s12 m3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{t}}</span>
            </div>
            <div class="card-action">
                <a href="{% url 'therapist_detail' t.user_id %}">meet me</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% elif therapist_patients %}
<h1 class="grey-text text-lighten-2">CASELOAD</h1>
<div class="row">
    {% for p in therapist_patients %}
    <div class="col s12 m3">
        <div class="card">
            <div class="card-content">
                <p class="card-title">{{p}} 
                </p>
            </div>
            <div class="card-action">
                <span>
                    <a href="{% url 'patient_detail' p.user_id %}">PROFILE</a>
                    <hr>
                    <a href="{% url 'patient_unassign' therapist_id p.user_id %}">REMOVE</a>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    {% if unassigned_patients %}
        <h1 class="grey-text text-lighten-2">UNASSIGNED PATIENTS</h1>
        {% for p in unassigned_patients %}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content">
                    {{p.user.first_name}} {{p.user.last_name}}
                </div>
                <div class="card-action">
                    <a href="{% url 'patient_assign' therapist_id p.user_id %}">add patient</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h1 class="grey-text text-lighten-2">ALL PATIENTS ARE ASSIGNED...</h1>
    {% endif %}
</div>
    
{% endif %}

{% endblock content %}