{% extends 'base.html' %}

{% block content %}
<div class="row center grey-text text-lighten-2">
    <h1 class="thin">PROFILE PAGE</h1>
    <hr style="width: 40%; margin: 0 auto;">
</div>

{% comment %} CHECKS IF OBJECT THERAPIST HAS BEEN SENT TO THIS PAGE {% endcomment %}
{% if therapist %}
<div class="card m_card">
    <div class="card-content">
        <h1>{{therapist.user.first_name}} {{therapist.user.last_name}}</h1>
        <div class="details">
            <p>License: {{therapist.therapist_license}}</p>
            <p>Specialty: {{therapist.treatment_specialty}}</p>
        </div>
        <div class="about">
            <p>Interests: {{therapist.user.interests}}</p>
            <p>Bio: {{therapist.user.bio}}</p>
        </div>
    </div>
    <div class="card-action">
        <p><a href="{% url 'therapist_index' %}">back to therapists</a></p>
    </div>
</div>
    {% endif %}
    
{% comment %} CHECKS IF USER IS THE PATIENT, OR THE THERAPIST BELONGS TO THE PATIENT {% endcomment %}
{% if user.is_authenticated %}
    {% if user.id == patient.user_id or user.therapist in patient.therapist_set.all %}

    <div class="card m_card">
        <div class="card-content">
            <h1>Patient {{patient.user.first_name}} {{patient.user.last_name}}</h1>
            <div class="details">
                <p>Desired Treatment: {{patient.desired_treatment}}</p>
                <p>Road Map: {{therapist.road_map}}</p>
            </div>
            <div class="card-action">
                <a href="/patients/{{patient.user_id}}/home/">{{patient.user.first_name}}'s Home Page</a>
            </div>
        </div>
    </div>
    {% elif user.is_therapist %}
    {% elif user.is_patient %}
    {% else %}
    <div class="row center grey-text text-lighten-2">
        <h1>NOTHING TO DISPLAY</h1>
        <hr style="width: 40%; margin: 0 auto;">
        <h3>It seems you're at the wrong patient profile!</h3>
        <p>This could be because of the following:
            <ul>
                <li>You are a therapist who isn't assigned to this patient.</li>
                <li>You are a patient who attempted to view another patient's profile.</li>
            </ul>
        </p>
    </div>

    {% endif %}
{% endif %}

{% endblock content %}