{% extends 'base.html' %}
{% block content %}

{% comment %} DISPLAY THERAPISTS. AVAILABLE TO PUBLIC {% endcomment %}
{% if therapists %}
<div class="row center">
    <h1 class="grey-text text-lighten-2 center">MEET OUR STAFF</h1>
    <hr style="width: 40%; margin: 0 auto;">
    <br>
</div>
<div class="row">
    {% for t in therapists %}
    <div class="col s12 m3">
        <div class="card m_card">
            <div class="card-content">
                <span class="card-title">{{t}}</span>
            </div>
            <div class="card-action">
                <a href="{% url 'therapist_detail' t.user_id %}">meet me</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% elif user.is_therapist %}
<h1 class="center grey-text text-lighten-2">CASELOAD</h1>
<div class="row">
    {% for p in therapist_patients %}
    <div class="col s12 m3">
        <div class="card m_card">
            <div class="card-content">
                <p class="card-title">{{p.user.first_name}} {{p.user.last_name}}
                </p>
            </div>
            <div class="card-action">
                <span>
                    <a href="{% url 'patient_detail' p.user_id %}">PROFILE</a>
                    <hr>
                    <a href="{% url 'patient_unassign' therapist_id p.user_id %}">REMOVE</a>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    {% if unassigned_patients %}
        <h4 class="center grey-text text-lighten-2">Unassigned Patients</h4>
        {% for p in unassigned_patients %}
        <div class="col s12 m3">
            <div class="card m_card">
                <div class="card-content">
                    {{p.user.first_name}} {{p.user.last_name}}
                </div>
                <div class="card-action">
                    <a href="{% url 'patient_assign' therapist_id p.user_id %}">add patient</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h5 class="grey-text text-lighten-2 center">ALL PATIENTS ARE ASSIGNED...</h5>
    {% endif %}
</div>
    
{% endif %}

{% endblock content %}