* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color: rgb(57,57,188);
    background: linear-gradient(150deg, rgba(57, 57, 188, .9), rgba(0, 0, 0, .9)), url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Credit to Chris Spittles for a great stack-overflow explanation!
https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

main {
    flex: 1 0 auto;
}

.nav_foot {
    background-color: rgba(0, 0, 0, 0);
    border: 2px groove #b71c1c;
    border-style: groove none none none;
}

.nav_head {
    background-color: rgba(0, 0, 0, 0);
    border: 2px groove #b71c1c;
    border-style: none none groove none;
}

hr {
    border: 1px solid #b71c1c;
}

.m_card {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
}

.logo-container {
    padding-top: 10px;
}

.nav_logo {
    max-width: 40px;
    height: auto;
}

.home-logo{
    max-width: 150px;
    opacity: .8;
    height: auto;
    /* position: fixed;
    top: 200px;
    left: 40%;
    right: 60%; */
}

.home-btn {
    margin: 5px;
}

.thin {
    font-weight: 300;
}

.home {
    text-decoration: underline;
    text-decoration-color: #b71c1c;
    text-decoration-thickness: 2px;
}

.scrollable {
    height: 400px;
    overflow: auto;
}

.fade-in-d {
    opacity: 1;
    animation: 1s ease-out 0s 1 fadeIn;
}

.fade {
    opacity: 1;
    animation: .5s ease 0s 1 fade-in;
}

/* leaving this in for reference later. */
/* animation: animation-duration | ease-out means slow near the end | delay before starting | number of times to iterate | name of css fn. */
/* header {
    animation: 1s ease-out 0s 1 slideInFromTop;
} */