* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color: rgb(57,57,188);
    background: linear-gradient(150deg, rgba(57, 57, 188, .9), rgba(0, 0, 0, .9)), url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav_foot {
    background-color: rgba(0, 0, 0, 0);
    border: 2px groove #b71c1c;
    border-style: groove none none none;
}

.nav_head {
    background-color: rgba(0, 0, 0, 0);
    border: 2px groove #b71c1c;
    border-style: none none groove none;
}

hr {
    border: 1px solid #b71c1c;
}

.m_card {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
}

.nav_logo {
    max-width: 40px;
    height: auto;
}

.thin {
    font-weight: 300;
}