{% extends 'base.html' %}

{% block content %}

<div class="row grey-text text-lighten-2 center">
    <h1>Let's get you an account</h1>
    <p><big class="thin">But first, we need to know who you are</big></p>
    <br>
    <hr style="width: 40%; margin: 0 auto;">
</div>
<div class="row center grey-text text-lighten-2">
    <br>
    <span><big> I am:  </big>
        <a class="btn red darken-4" href="{% url 'therapist_signup' %}">
            A Therapist
        </a>    
        <a class="btn yellow darken-2 grey-text text-darken-2" href="{% url 'patient_signup' %}">
            A Patient
        </a>
    </span>
</div>

{% endblock content %}