{% extends 'base.html' %}
{% block content %}

<div class="row grey-text text-lighten-2 center">
    <h1>Make therapy more productive</h1>
    <hr>
</div>
<div class="row grey-text text-lighten-2 center">
    <p><big class="thin">
        We get it - A lot can happen during your sessions. It's hard to remember everything you discussed.
        <br><hr style="width: 25%; margin: 0 auto;"><br>
        We are here to help save your sessions.
        <br><br><hr style="width: 25%; margin: 0 auto;"><br>
        With web-based software designed with both therapists and patients in mind,
        We are a note-taking app where both parties can continue the vital, growth-based conversations that lead to healing.
        <br>
    </big></p>
    <a href="{% url 'superman' %}">Why superman?</a>
    <br><br>
    <hr style="width: 25%; margin: 0 auto;">
    <h4>How it works</h4>
    <p><big class="thin">
        Therapists create session notes for the patient to see. Upon logging in, the patient and therapist can both view
        import session details. We provide functionality to write notes within each session, 
        empowering the dialogue to continue even when your next session is a week or more away. 
    </big></p>
</div>

{% endblock content %}