{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theranotes/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>TheraNotes</title>
    <link rel="shortcut icon" href="{% static 'theranotes/images/logo.png' %}" type="image/x-icon">
</head>
<body>
<header>
    <nav class="head_foot nav_head">
        <div class="nav-wrapper">
            <div class="container">
                <a class="brand-logo" href="{% url 'home' %}">
                    <img class="nav_logo" src="{% static 'theranotes/images/logo2.png' %}" alt="Thera-Notes"> 
                </a>
                <ul class="right">
                    {% if user.is_authenticated %}
                        {% if user.is_therapist %}
                        <li><a class="chip" href="{% url 'therapist_detail' user.id %}">{{user.first_name}}</a></li>
                        <li><a href="{% url 'patient_index' user.id %}">My Patients</a></li>
                        {% elif user.is_patient %}
                        <li><a class="chip" href="{% url 'patient_detail' user.id %}">{{user.first_name}}</a></li>
                        <li><a href="{% url 'patient_home' user.id %}">Home</a></li>
                        {% endif %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</main>
<footer class='page-footer head_foot nav_foot'>
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="grey-text text-lighten-2 left-align" href="{% url 'about' %}">About us</a>
            </div>
            <div class="col right">
                &copy; 2022 TheraNotes
            </div>
        </div>
    </div>
</footer>
</body>
</html>