<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheraNotes</title>
</head>
<header>
    <nav>
        <div>TheraNotes</div>
        {% if user.is_authenticated %}
        <div>Hello {{user.first_name}}</div>
        {% endif %}
        <ul>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
    <div class="page-footer">
        About | &copy; 2022 TheraNotes
    </div>
</footer>
</html>