{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="row center grey-text text-lighten-2 fade-in-d">
    <h1>Thera-Notes</h1>
</div>
<div class="row grey-text text-lighten-2">
    <div class="col s12 m4 fade-in-d">
        <h3 class="thin home">Simple.</h3>
        <h3 class="thin home">Powerful.</h3>
        <h3 class="thin home">Communication.</h3>
    </div>
    <div class="col s12 m4 center fade-in-d">
        <img class="home-logo" src="{% static 'theranotes/images/logo3.png' %}" alt="Thera-Notes"> 
    </div>
    <div class="col s12 m4 save">
        <h3 class="center thin fade-in-d"><strong class="home"> Save the day</strong> during your sessions.</h3>
        <br>
    </div>
    <div class="col s12 center fade-in-d">
        <br>
        <a class="yellow darken-2 btn grey-text text-darken-2 home-btn" href="{% url 'therapist_index' %}">
            Meet our therapists
        </a>
        <a class="yellow darken-2 btn grey-text text-darken-2 home-btn" href="{% url 'about' %}">
            How does it work?
        </a>
    </div>
</div>
{% endblock content %}