{% extends 'base.html' %} {% block content %}

<div class="row center grey-text text-lighten-2">
    <h1>Thera-Notes</h1>
</div>
<div class="row grey-text text-lighten-2">
    <div class="col s12 m6">
        <h3 class="thin">Simple.</h3>
        <h3 class="thin">Powerful.</h3>
        <h3 class="thin">Communication.</h3>
        <hr>
        <br>
    </div>
    <div class="col s12 m6">
        <h3 class="center thin">Save the day during your sessions.</h3>
    </div>
    <div class="col s12 center">
        <a class="yellow darken-2 btn grey-text text-darken-2" href="{% url 'therapist_index' %}">
            Meet our therapists
        </a>
        <a class="yellow darken-2 btn grey-text text-darken-2" href="{% url 'about' %}">
            How does it work?
        </a>
    </div>
</div>

{% endblock content %}