{% extends 'base.html' %}
{% block content %}

<div class="grey-text text-lighten-2 center">
<div class="row">
    <h2>What's with your superman logo and theme?</h2>
    <hr>
</div>
<div class="row">
    <p><big>
        This website actually takes its inspiration from a therapist known as Drew Davis. 
        Known for his magnetic personality, he specializes in helping youth
        with depression, addiction, processing disorders, and more. 
    </big></p>
    <br>
    <hr style="width: 40%; margin: 0 auto;">
    <br>
    <p><big>
        If you step into his office, it's decorated with everything superman. He even wears 
        a superman shirt underneath his shirt and tie every day. Drew has a long list of clients who are grateful
        to him for the aid he's given. He's truly responsible for saving those who needed saving. 
    </big></p>
    <br>
    <hr style="width: 40%; margin: 0 auto;">
    <br>
    <p><big>
        We hope the therapists and patients who use this service can also feel similar feelings as they 
        walk the road of self-improvement and healing.
    </big></p>
    <br>
</div>
</div>

{% endblock content %}