{% extends 'base.html' %}
{% block content %}

<div class="grey-text text-lighten-2 center">
<div class="row fade-in-d">
    <h2>What's with the superman logo?</h2>
    <hr>
</div>
<div class="row">
    <p><big class="thin fade-in-d">
        This website actually takes its inspiration from a therapist known as <strong> Drew Davis. </strong>
        Known for his magnetic personality, he specializes in helping youth
        with depression, addiction, processing disorders, and more. 
    </big></p>
    <br>
    <hr style="width: 40%; margin: 0 auto;">
    <br>
    <p><big class="thin fade-in-d">
        If you step into his office, it's decorated with everything superman. He even wears 
        a superman shirt underneath his regular shirt every day. Drew has a long list of clients who are grateful
        to him for the aid he's given. <strong> He's truly responsible for saving those who needed saving. </strong>
    </big></p>
    <br>
    <hr style="width: 40%; margin: 0 auto;">
    <br>
    <p><big class="thin fade-in-d">
        We hope the therapists and patients who use this service can also feel similar feelings as they 
        walk the road of self-improvement and healing.
    </big></p>
    <br>
</div>
</div>

{% endblock content %}